<div class="cont-<%=message.user.id%>">
  <div class='msg-<%= message.user.id %> bg-[#1f2c32] pr-9 p-2 pb-3  text-white text-sm max-w-max my-[2px]  rounded-md relative'> 
     <%= message.message %>
        <div class='p-1 horario text-[#aebac1] text-xs  absolute bottom-0 right-0 '>
          <%= message.created_at.strftime('%H:%M') %>
         </div>
  </div>
</div>


