<div class='flex flex-row overflow-hidden h-screen'>
  <div class='w-[20%] sm:w-[35%] border-r border-[#313e44] bg-[#111a21] items-center justify-center'>
    <div class='flex flex-col justify-between sticky top-0 w-full items-center bg-[#111a21] h-[11rem]'>
      <div class='bg-[#1f2c32] p-4 flex flex-row justify-between w-full'>
        <div class='w-12 h-12 rounded-full bg-sky-200'></div>

        <div class='text-right items-center flex justify-between'>
          <i class="material-icons text-[#aebac1] mr-4">group</i>
          <i class="material-icons text-[#aebac1] mr-4">radio_button_checked</i>
          <i class="material-icons text-[#aebac1] mr-4">speaker_notes</i>
          <i class="material-icons text-[#aebac1] mr-4">add_comment</i>
          <%= link_to content_tag(:i, 'logout', class: 'material-icons text-[#aebac1] mr-4'), destroy_user_session_path, class: 'block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent', data: { turbo_method: :delete } %>
          <i class="material-icons text-[#aebac1]">more_vert</i>
        </div>
      </div>

      <div class='flex flex-col w-full'>
        <div class='py-1 flex'>
          <div class='bg-[#1f2c32] rounded flex flex-row w-full'>
            <i class="material-icons text-[#aebac1] mx-4">search</i>
            <%=text_field_tag :search_start_conversation, '', placeholder: 'Search or start a conversation', class: 'w-full bg-transparent border-transparent border-0 focus:border-[#1f2c32] text-[#aebac1] h-8 focus:outline outline-none', data: {controller: "room", reflex: "keyup->Room#search"} %>
          </div>
          <i class="material-icons text-[#aebac1] ml-2">filter_list</i>
        </div>
        <div class='px-1 flex flex-row items-center'>
          <div class='w-12 h-12 flex justify-center items-center'>
            <i class="material-icons text-[#00a884]">event_available</i>
          </div>
          <div class='text-white'>Archived</div>
          
        </div>
      </div>
    </div>
    
    <div id="last_messages" class="bg-[#111a21] overflow-y-scroll flex flex-col">
      <%=render partial: 'last_messages', locals: {conversations: current_user.conversations.order(created_at: :desc)} %>
    </div>
  </div>
  <div class='w-[80%] sm:w-[65%] border-r border-[#313e44] bg-[#111a21] items-center justify-center'>
    <div id="chat" class="w-full  flex items-center justify-center bg-[#111a21]">
      <h1 class='text-lg text-white'>RailsCLONE</h1>
    </div>
  </div>
</div>