/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 *:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  --tw-ring-color: none !important;
  box-shadow: none;
  outline: 0 none;
}

.conversations-table{
  overflow-x: hidden;
}
html, body {
  overflow-y: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f363873;
}

/* Cor de fundo da área de track (barra vazia) */
::-webkit-scrollbar-track {
  background-color:#111a21;  
   
}

/* Cor da scrollbar quando o mouse passa por cima */
::-webkit-scrollbar-thumb:hover {
background-color: #555;
}